[Unit]

Description=Cocktail-Machine

After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/cocktail-machine/software/
Environment=SERVICE=true
ExecStart=python ./main.py

[Install]
WantedBy=multi-user.target